*,
*:after {
    box-sizing: border-box;
}

.x-icon {
    /* display: none; */
    border: 1px solid transparent;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    margin-left: -55px;
    margin-top: -28px;
    width: 60px;
    height: 95px;
}

.x-icon:after {
    content: "X";
    /* display: none; */
    width: 50px;
    height: 55px;
    position: absolute;
    background-color: #fa9595;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 40px;
    box-shadow: 0 0 2px #e50f0f;
    cursor: pointer;
}